body{
    background: #f0f2f5;
}
.email-input input {
    border-radius: 6px;
    font-size: 20px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;;
    border: 1px solid #dddfe2;
    height: 60px;
    margin-bottom: 10px;
}

.email-input {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.login-button button {
    font-weight: bold;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0;
    width: 430px;
    display: inline-block;
    height: 60px;
    vertical-align: middle;
}

.login-button button .button-text {
    color: white;
    padding: 0 16px;
    border-radius: 4px;
}

.forgot-pass a {
    color: #1877f2;
    text-decoration: none; 
    display: inline-block;
    margin-top: 10px;
    font-size: 18px; 
    cursor: pointer; 
}

.forgot-pass a:hover {
    text-decoration: underline;
}

.new-acc{
    font-weight: bold;
    color:white;
    background-color: #42b72a;
    border-radius: 6px;
    font-size: 17px;
    line-height: 30px;
    padding: 0 16px;
    display: block;
    width: 200px;
    margin: auto;
}

.footer {
    margin-top: 120px;
    background-color: #f5f6f7;
    border-top: 1px solid #dddfe2;
    padding: 20px 0;
    font-size: 18px;
    color: #616770;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Добавлено для переноса элементов, если не хватает места */
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}


.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-links li {
    margin-right: 10px;
}

.footer-links a {
    color: #616770;
    text-decoration: none;
}

.footer-meta {
    text-align: center;
}

.footer-languages {
    text-align: right;
}

.footer-languages ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.footer-languages ul li {
    margin-right: 10px;
}

.footer-languages a {
    color: #616770;
    text-decoration: none;
}

.footer-more-languages {
    font-weight: bold;
    font-size: 14px;
    color: #616770;
    text-decoration: none;
}
.separater{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}


.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    padding-top: 0rem;
}
.fb_logo{
    height: 135px;

}
.under_logo_text{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: normal;
    margin: 30px;

    line-height: 40px;
}
.form{
    
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;

    padding: 2px 0 28px;
    width: 480px;
    height: 450px;
    text-align: center;

}
.text-under-form {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 45%;
    font-weight: normal;
}